@media (max-width: 1680px) {
  .workout {
    .workout__elements {
      flex-direction: column-reverse;
      gap: 50px;
      & .workout-video {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 1425px) {
  header {
    & .big-ball {
      width: 1200px;
      height: 1200px;
    }
    & .regular-ball {
      width: 1000px;
      height: 1000px;
    }
    & .small-ball {
      width: 800px;
      height: 800px;
    }
  }

  .advantages {
    & .gear {
      top: 0;
      transform: translate(-50%, -55%);

      & i {
        font-size: 300px;
      }
    }

    & h2 {
      font-size: 52px;
      max-width: 1000px;
      text-align: left;
      margin-left: 100px;
    }
  }
}

@media (max-width: 1290px) {
  .advantages {
    & .advantages__elements {
      align-items: center;
      justify-content: center;
      & .advantage__item {
        margin: auto;
      }
    }
  }
}

@media (max-width: 1250px) {
  header {
    & .big-ball {
      width: 1100px;
      height: 1100px;
    }
    & .regular-ball {
      width: 900px;
      height: 900px;
    }
    & .small-ball {
      width: 700px;
      height: 700px;
    }
  }
}

@media (max-width: 1170px) {
  header {
    & .big-ball {
      bottom: -30%;
      right: 50%;
      transform: translateX(50%);
      width: 1100px;
      height: 1100px;
    }
    & .regular-ball {
      bottom: -30%;
      right: 50%;
      transform: translateX(50%);
      width: 900px;
      height: 900px;
    }
    & .small-ball {
      bottom: -30%;
      transform: translateX(50%);
      right: 50%;
      width: 700px;
      height: 700px;
    }

    & .header__elements {
      flex-direction: column;
      align-items: center;
      gap: 100px;
      & .header__photo {
        align-self: center !important;
        max-width: 100%;
        width: 100%;

        & img {
          max-width: 600px;
          width: 100%;
          /* min-width: 400px; */
        }
      }
      & .header__info {
        max-width: 100%;
        width: 100%;

        & h1 {
          line-height: 120% !important;

          & br {
            display: none;
          }
        }

        & button {
          width: 100%;
          max-width: 100%;
          font-size: 24px;
        }

        & .cost {
          margin: auto;
        }
      }
    }
  }

  .prem-cash {
    & .prem-cash__elements {
      gap: 50px;
    }
  }
}

@media (max-width: 900px) {
  nav {
    & .nav__links {
      margin-right: 0px !important;
    }
  }
}

@media (max-width: 850px) {
  .advantages {
    & h2 {
      margin-left: 0px;
      font-size: 46px;
    }
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block !important;
    background-color: transparent;
    border: none;
    position: relative;
    width: 40px;
    height: 30px;
    margin-right: 20px;

    & span {
      background-color: var(--color3);
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      transition: 0.3s;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 14px;
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }
  }

  nav {
    border-radius: 0 !important;
    margin: auto !important;
  }

  .nav__links {
    border-radius: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
    flex-direction: column;
    top: 0;
    background-color: rgba(255, 255, 255, 0.94);
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: 0.3s;
    right: -100%;
    & a {
      font-size: 28px !important;
    }
  }

  .nav__contacts {
    width: 100vw !important;
    height: 100vh !important;
    top: 0;
    position: fixed;
    transition: 0.3s;
    right: -100%;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10vh;
    background-color: transparent;
    /* transform: translateX(50%); */
  }

  /* РЕШИТЬ ПРОБЛЕМУ С НАВИГАЦИЕЙ И ЕЕ АДАПТАЦИЕЙ */

  .hamburger_active span:nth-child(1) {
    top: 14px;
    transform: rotate(45deg);
  }

  .hamburger_active span:nth-child(2) {
    transform: translateX(-150%);
    opacity: 0;
  }

  .hamburger_active span:nth-child(3) {
    bottom: 14px;
    transform: rotate(-45deg);
  }

  .nav__links_active {
    right: 0;
  }

  .nav__contacts_active {
    right: 0;
  }

  .header__photo {
    & span {
      top: 0;
      left: 50px;
      right: inherit !important;
    }
  }

  .workouts-type {
    padding: 120px 0px;
    /* & h2 {
      
    } */
  }

  .prem-cash {
    & .prem-cash__elements {
      flex-direction: column;
      align-items: center;

      & .prem-cash__item {
        & .item__info {
          & h2 {
            font-size: 26px;
          }

          & ul {
            & li {
              font-size: 16px;
            }

            & .cost {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .food {
    padding: 120px 0px;
  }

  .questions {
    & h2 {
      font-size: 44px;
    }

    & .question {
      & h4 {
        font-size: 22px !important;
      }
    }
  }

  .advantages {
    & .gear {
      top: 0;
      transform: translate(-20%, -55%);
      animation: rotateGearMedia 5s infinite linear;
      & i {
        font-size: 270px;
      }
    }
  }
}

@keyframes rotateGearMedia {
  0% {
    transform: translate(-20%, -55%) rotate(0deg);
  }
  100% {
    transform: translate(-20%, -55%) rotate(360deg);
  }
}

@media (max-width: 540px) {
  .workout {
    padding: 80px 0px !important;
    .workout__elements {
      & .workout-house {
        padding: 40px 20px !important;
        border-radius: 25px !important;
        h3 {
          font-size: 28px !important;
        }
        p {
          font-size: 16px !important;
        }
      }

      & .block {
        width: 250px !important;
        height: 40px !important;
      }

      & .workout-gym {
        padding: 40px 20px !important;
        border-radius: 25px !important;
        h3 {
          font-size: 28px !important;
        }
        p {
          font-size: 16px !important;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  section {
    padding: 80px 0 !important;
  }

  .advantages {
    padding: 120px 0 !important;

    & .gear {
      & i {
        font-size: 230px;
      }
    }

    & h2 {
      font-size: 36px;
      margin-bottom: 60px;
    }

    & .advantage__item {
      & h3 {
        font-size: 28px !important;
      }

      & p {
        font-size: 16px !important;
      }
    }
  }

  .questions {
    & h2 {
      font-size: 30px;
    }

    & .question {
      & h4 {
        font-size: 16px !important;
        line-height: 150% !important;
      }
    }

    & p {
      font-size: 16px !important;
    }
  }

  .prem-cash {
    & .prem-cash__elements {
      flex-direction: column;
      align-items: center;

      & .prem-cash__item {
        & .item__info {
          & h2 {
            font-size: 26px;
          }

          & ul {
            & li {
              font-size: 16px;
            }

            & .cost {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .workout {
    padding: 80px 0px !important;
    .workout__elements {
      & .workout-video {
        width: 100% !important;
        height: 350px !important;
      }
    }
  }

  .header__info {
    & h1 {
      font-size: 48px !important;
    }

    & p {
      font-size: 18px !important;
      line-height: 150%;
    }
  }

  .rule {
    padding: 80px 0;
    & h2 {
      font-size: 48px !important;
    }

    & li {
      font-size: 18px !important;
      line-height: 150% !important;
    }
  }

  .header__photo {
    & img {
      width: 140% !important;
      max-width: none !important;
      min-height: 0 !important;
      min-width: 0 !important;
      flex-shrink: 0;
    }

    & span {
      left: 0;
    }
  }

  .header__elements {
    padding-top: 75px !important ;
  }

  .workouts-type {
    & h2 {
      font-size: 44px !important;
    }

    & p {
      font-size: 18px;
    }

    & .workout__item {
      max-width: 275px !important;

      & img {
        width: 275px !important;
        height: 275px !important;
      }
    }
  }

  .food {
    & h2 {
      font-size: 44px !important;
    }

    & p {
      font-size: 18px;
    }

    & .food__item {
      max-width: 275px !important;

      & img {
        width: 275px !important;
        height: 275px !important;
      }
    }
  }
}
